{% extends "form.html" %}

{% block title %}Log in{% endblock %}

{% block form %}

{% load bootstrap %}
<form method="post" class="form-signin" action="?next={{ next|default:'/' }}">{% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    {{ form|bootstrap }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<div class="btn-group btn-group-justified" role="group" aria-label="Problem" style="margin-top: 10px;">
    <a href="{% url 'auth_password_reset' %}" role="button" class="btn btn-default">Forgotten password?</a>
    <a href="{% url 'registration_register' %}" role="button" class="btn btn-default">Sign up</a>
</div>

{% endblock %}