{% extends "form.html" %}

{% block title %}Password change{% endblock %}

{% block form %}

{% load bootstrap %}


<h2 class="form-signin-heading">Password change</h2>
<form class="form-signin" method="post" action="">
    {% csrf_token %}
    <p class="help-block">
        After all, you'll be sent an email with instructions on how
        to finish your registration.
    </p>
    {{ form|bootstrap }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>


{% endblock %}