{% extends "form.html" %}

{% block title %}Password reset{% endblock %}

{% block form %}

{% load widget_tweaks %}

<h2 class="form-signin-heading">Password reset</h2>
<form class="form-signin" method="post" action="">
    {% csrf_token %}
    <p class="help-block">
        Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.
    </p>

    <div class="form-group">
        <label for="input-email">E-mail</label>
        {% render_field form.email id="input-email" class="form-control" placeholder="E-mail" type="text" %}
        {% if form.email.errors %}
        <p class="help-block" style="color: red;">
            {{ form.email.errors|join:", " }}
        </p>{% endif %}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset my password</button>
</form>

{% endblock %}