{% extends "form.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}


{% block content %}

{% if validlink %}

{% load widget_tweaks %}
{% load bootstrap %}

<h2 class="form-signin-heading">{% trans 'Enter new password' %}</h2>
<form class="form-signin" method="post" action="">
    {% csrf_token %}
    <p class="help-block">
        Please enter your new password twice so we can verify you typed it in correctly.
    </p>
    {{ form|bootstrap }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
</form>

{% else %}

<h1 class="form-signin-heading" >{% trans 'Password reset unsuccessful' %}</h1>
<p class="help-block">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
