{% extends "full.html" %}
{% block title %}Completed{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div container-fluid>
    <table class="table-hover">
        <thead class="text-center">
            <th style="padding: 10px; text-align: center">Name</th>
            <th style="padding: 10px; text-align: center">Description</th>
            <th style="padding: 10px; text-align: center">Exp</th>
            <th style="padding: 10px; text-align: center">Picture</th>
            <th style="padding: 10px; text-align: center">Share</th>
        </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td style="padding: 10px; text-align: center">{{ item.name }}</td>
            <td style="padding: 10px">{{ item.description }}</td>
            <td style="padding: 10px; text-align: center">{{ item.exp }}</td>
            <td style="padding: 10px"><img class="challenge-image" src="{{ item.picture.url }}"></td>
            <td>
                <div class="fb-share-button center-block" style="width: 65px;" data-href="{{ urlencode }}" data-layout="button" data-size="small"
                     data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank"
                                                  href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}&amp;src=sdkpreparse">Udostępnij</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}