{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}

    <div class="message">
        <h1>Spierdon</h1>
    </div>

    <div class="horizontal-menu">
        <table id="horizontal-menu-table">
            <tr><label id="menu-option-overview" class="menu-option">Overview</label></tr>
            <tr><label id="menu-option-challenges" class="menu-option">Challenges</label></tr>
            <tr><label id="menu-option-completed" class="menu-option">Completed</label></tr>
            <tr><label id="menu-option-ranking" class="menu-option">Ranking</label></tr>
        </table>
    </div>

    <div class="main-page-sector overview-sector">
        {% include "userPanel.html" %}
    </div>

    <div class="challenges-sector">
        <div class="main-page-sector">
            <p>challenges</p>

            <div class="challenges-row">

                {% for user_challenge in user_challenges %}
                    <div class="challenge-block">
                        <form  action="{% url 'spierdon:complete_challenge' user_challenge.id %}" method="post">
                        {% csrf_token %}

                                <img class="challenge-image" src="{{ user_challenge.picture.url }}">

                                <p>{{ user_challenge.name }}</p>
                                <p>{{ user_challenge.exp }}</p>
                                <p>{{ user_challenge.description }}</p>

                            <input type="submit" value="Complete" />
                        </form>
                    </div>
                {% endfor %}
             </div>
        </div>
    </div>

    <div class="completed-sector">
        <div class="main-page-sector ">
            <p>completed</p>
            <div class="challenges-row">
                    {% for user_completed_challenge in user_completed_challenges %}
                        <div class="challenge-block">
                            <p>{{ user_completed_challenge.name }}</p>
                            <p>{{ user_completed_challenge.exp }}</p>
                            <p>{{ user_completed_challenge.description }}</p>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>

    <div class="ranking-sector">
        <div class="main-page-sector">
            <table>
                <tr>
                    <th>Nr</th>
                    <th>Name</th>
                    <th>Level</th>
                </tr>
                {% for item in ranking %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    {% if has_public %}
                    <th>{{ item.user.username }}</th>
                    {% else %}
                    <th>-</th>
                    {% endif %}
                    <th>{{ item.level }}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}


