{% extends "base.html" %}
{% block title %}New Challenge{% endblock %}
{% block content %}
<div class="newChallenge">
    <H1>Select a new challenge</H1>

    <table id="one-column-emphasis">
        <tr>
            <th>Add Challenge</th>
            <th>Name</th>
            <th>Description</th>
            <th>Exp</th>
            <th>Picture</th>
        </tr>
        {% for item in items %}
        <tr>
            <td><a href="{% url 'spierdon:join_challenge' item.id %}">+</a></td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.exp }}</td>
            <td>{{ item.picture }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}