{% extends "base.html" %}
{% block title %}New Challenge{% endblock %}
{% block content %}
<div class="newChallenge">
    <H1>Select a new challenge</H1>

    <table>
        <tr>
            <th>Add Challenge</th>
            <th>Name</th>
            <th>Description</th>
            <th>Exp</th>
            <th>Picture</th>
        </tr>
        {% for item in items %}
        <tr>
            <th><a href="">+</a></th>
            <th>{{ item.name }}</th>
            <th>{{ item.description }}</th>
            <th>{{ item.exp }}</th>
            <th>{{ item.picture }}</th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}