{% extends "full.html" %}
{% block title %}New Challenge{% endblock %}

{% block content %}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Exp</th>
        <th>Picture</th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.exp }}</td>
        <td><img class="challenge-image" src="{{ item.picture.url }}"></td>
        <td><a href="{% url 'spierdon:join_challenge' item.id %}">Join</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}