{% extends "full.html" %}
{% block title %}Ranking{% endblock %}
{% block content %}
{% if has_public %}

<h2>Ranking</h2>
<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Level</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.user.username }}</td>
        <td>{{ item.level }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2 class="text-info">Unavailable</h2>
<form method="post">
    {% csrf_token %}
    <p class="help-block">
        Unfortunately, current ranking is available only for users who published their level.
    </p>
    <button class="btn btn-primary" type="submit">Publish</button>
</form>

{% endif %}
{% endblock %}


